/* styles/footer.module.css */
.footer {
  width: 100%;
  padding: 20px;
  background-color: #938284; /* Or any color that matches your design */
  color: #fff;
}

.logoContainer {
  display: flex;
  justify-content: center; /* Center logos horizontally */
  align-items: center; /* Center logos vertically */
  gap: 30px; /* Adjust the space between logos */
}

.logo {
  max-width: 100px; /* Maximum width for each logo */
  height: auto; /* Maintain aspect ratio */
  /* opacity: 0.5; */
  /* mix-blend-mode: screen; */
}
